ruby > rt {
	font-size: 100%;
	zoom: var(--ruby-size);
}

ruby.ruby-hide rt {
	opacity: 0%;
}

ruby.ruby-hide:hover rt {
	opacity: 100%;
}

ruby.ruby-hide-always rt {
	display: none;
}

.novel-ruby-settings .setting-item:has(.is-disabled),
.novel-ruby-settings .setting-item.is-disabled {
	opacity: 0.5;
}
